<div>
  <section id="sp-top-bar">
    <div class="container">
      <div class="row" style="color: aliceblue">
        <div class="col">{{ today | date: "fullDate" | titlecase }}</div>
        <div class="col text-right">
          <!-- Facebook -->
          <a
            style="color: aliceblue"
            href="https://www.facebook.com/DoctoradoEnCienciasDeLaSalud/"
            target="_blanck"
            class="fb-ic"
          >
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a
            style="color: aliceblue"
            href="https://twitter.com/FACSALUD_USCO"
            target="_blanck"
            class="tw-ic"
          >
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a
            style="color: aliceblue"
            href="https://www.instagram.com/fac_saludusco/"
            target="_blanck"
            class="ins-ic"
          >
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
        <div class="col text-right">
          <i class="far fa-envelope"></i
          ><a style="color: aliceblue" [href]="emailstring" target="_blank">
            doctoradoencienciasdelasalud@usco.edu.co</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
<div id="sp-logo-wrap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <a title="Universidad Surcolombiana" [routerLink]="['/home']">
          <img
            src="assets/universidad-surcolombiana-50.png"
            class="img-fluid"
            alt="Universidad Surcolombiana"
          />
        </a>
      </div>
      <div class="col text-center align-items-center">
        <h5 class="caki text-uppercase font-weight-bold">{{ title }}</h5>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <nav class="navbar menu navbar-expand-lg menu bgCafeInstitu">
    <button
      class="navbar-toggler navlinkin"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto menu__list">
        <li class="menu__group">
          <a
            style="padding: 10px"
            class="nav-link menu__link"
            [routerLink]="['/inicio']"
            routerLinkActive="router-link-active"
            ><i class="fas fa-home"></i> Inicio</a
          >
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Denominacion_academica_del_programa']"
            placement="top"
            ngbTooltip="Denominación del programa"
            >Condición 1</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="['/admi_condicion1', '-MZZWo47rlDdMyQfygKN']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Justificacion_del_programa']"
            placement="top"
            ngbTooltip="Justificación del programa"
            >Condición 2</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="['/Justificacion_del_programa']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="nav-item dropdown menu__group">
          <a
            style="padding: 10px"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Aspectos_curriculares']"
            placement="top"
            ngbTooltip="Aspectos curriculares"
          >
            Condición 3
          </a>
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="['/Aspectos_curriculares']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="[
              '/Organizacion_de_las_actividades_academicas_y_proceso_formativo'
            ]"
            placement="top"
            ngbTooltip="Organización actividades académicas y proceso formativo"
            >Condición 4</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="[
                '/Organizacion_de_las_actividades_academicas_y_proceso_formativo'
              ]"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="[
              '/Investigacion_innovacion_y_creación_artistica_y_cultural'
            ]"
            placement="top"
            ngbTooltip="Investigación, innovación y/o creación artística y cultural"
            >Condición 5</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="[
                '/Investigacion_innovacion_y_creación_artistica_y_cultural'
              ]"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Relacion_con_el_sector_externo']"
            placement="top"
            ngbTooltip="Relación con el sector externo"
            >Condición 6</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="['/Relacion_con_el_sector_externo']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Profesores']"
            placement="top"
            ngbTooltip="Profesores"
            >Condición 7</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a class="menu__link_dropdown" [routerLink]="['/Profesores']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="nav-item dropdown menu__group">
          <a
            style="padding: 10px"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Medios_educativos']"
            placement="top"
            ngbTooltip="Medios educativos"
          >
            Condición 8
          </a>
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a class="menu__link_dropdown" [routerLink]="['/Medios_educativos']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group dropdown menu__group">
          <a
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link dropdown-toggle menu__link dropbtn"
            [routerLink]="['/Infraestructura_fisica_y_tecnologica']"
            placement="top"
            ngbTooltip="Infraestructura física y tecnológica"
            >Condición 9</a
          >
          <div class="dropdown-content text-left" *ngIf="auth.user | async">
            <a
              class="menu__link_dropdown"
              [routerLink]="['/Infraestructura_fisica_y_tecnologica']"
              ><i class="fas fa-user-cog"></i> Administrar</a
            >
          </div>
        </li>
        <li class="menu__group">
          <ng-template #showLogin>
            <a
              style="padding: 10px"
              routerLinkActive="router-link-active"
              class="nav-link menu__link"
              (click)="openSm(formAdmin)"
              ><i class="fas fa-lock"></i> Ingresar</a
            >
          </ng-template>
          <a
            *ngIf="auth.user | async; else showLogin"
            style="padding: 10px"
            routerLinkActive="router-link-active"
            class="nav-link menu__link cursorSelect"
            (click)="logout()"
            ><i class="fas fa-door-open"></i> Salir</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<ng-template #formAdmin let-modal>
  <div class="modal-header bgrojoyblanco">
    <h4 class="modal-title">
      <i class="fas fa-user-cog white"></i> Administrar:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times" style="color: white"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="text-center p-2" #forma="ngForm">
        <!-- Email -->
        <div class="d-flex justify-content-around">
          <input
            type="email"
            id="defaultLoginFormEmail"
            [(ngModel)]="email"
            name="email"
            class="form-control mb-4 shadow"
            placeholder="Correo"
          />
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-around" *ngIf="viewPass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="password"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ver contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="view()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Password view-->
        <div class="d-flex justify-content-around" *ngIf="hidePass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="text"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ocultar contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="hide()"
              >
                <i class="far fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="justify-content-around">
          <div class="m-2">
            <!-- Forgot password -->
            <a (click)="recuperar()" class="cursorSelect text-blue"
              >¿Recuperar?</a
            >
          </div>
          <div class="input-group mb-3" *ngIf="viewRecuperar != true">
            <input
              class="form-control shadow"
              placeholder="Correo"
              type="email"
              id="defaultLoginFormEmail"
              [(ngModel)]="email"
              name="email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="passEmail()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Enviar al correo"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="passEmail()"
              >
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <small class="m-2"
              >Digite su correo para enviar un email y recuperar su
              contraseña</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <button
    type="button"
    style="
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    "
    class="btn navlinkinSolid p-3"
    ngbAutofocus
    (click)="customLogin()"
  >
    Acceder
  </button>
</ng-template>
