<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">
            <i class="fas fa-search"></i> Condición 5
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="row">
            <div class="col">
              <hr />
              <div class="accordion text-center" id="accordionExample">
                <div class="card">
                  <div
                    class="card-header"
                    id="headingOne"
                    style="background-color: #8f141b"
                  >
                    <div class="row">
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                      <div class="col">
                        <h5 class="ocre-text">Aspectos</h5>
                      </div>
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                    </div>
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <h6 class="text-left subTituloRojoInstitucional">
                        1). Objetivos, estrategias, actividades, metas, recursos
                        y responsables que propone la Institución en el Plan
                        para el desarrollo de la Investigación en el Programa,
                        con el nivel de formación del Programa y las capacidades
                        institucionales.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        2). Estrategias y actividades académicas que promueve la
                        participación de estudiantes y profesores del Programa
                        en Investigación.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        3). Actividades, proyectos y productos, afines al campo
                        de conocimiento del Programa, los cuales comprueban la
                        participación de estudiantes y profesores del Programa
                        con la investigación.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        4). Sustentación de la Institución con la disponibilidad
                        e idoneidad de profesores orientados al fomento de la
                        Investigación en áreas afines a la naturaleza del
                        Programa.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        5). Estrategias de la función de investigación que
                        acompañan el desarrollo académico propio de este nivel.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        6). Explicación de la Institución para la articulación y
                        correspondencia entre las capacidades y fortalezas que
                        tienen los Grupos de Investigación que apoyan al
                        Programa y los Profesores asociados al programa, con el
                        nivel de formación, el currículo y los años de
                        funcionamiento del Programa.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
