<div class="fondodivlogin">
  <div
    class="card text-center"
    *ngIf="ajustes != false"
    style="border-radius: 12px"
  >
    <div
      class="card-header"
      style="
        background-color: #8f141b;
        color: white;
        border-radius: 12px 12px 0 0;
      "
    >
      <p class="h4">Administrar contenidos:</p>
    </div>
    <div class="card-body">
      <form class="text-center p-2" #forma="ngForm">
        <!-- Email -->
        <div class="d-flex justify-content-around">
          <input
            type="email"
            id="defaultLoginFormEmail"
            [(ngModel)]="email"
            name="email"
            class="form-control mb-4 shadow"
            placeholder="Correo"
          />
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-around" *ngIf="viewPass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="password"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ver contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="view()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Password view-->
        <div class="d-flex justify-content-around" *ngIf="hidePass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="text"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ocultar contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="hide()"
              >
                <i class="far fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="justify-content-around">
          <div class="m-2">
            <!-- Forgot password -->
            <a (click)="recuperar()" class="cursorSelect text-blue"
              >¿Recuperar?</a
            >
          </div>
          <div class="input-group mb-3" *ngIf="viewRecuperar != true">
            <input
              class="form-control shadow"
              placeholder="Correo"
              type="email"
              id="defaultLoginFormEmail"
              [(ngModel)]="email"
              name="email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="passEmail()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Enviar al correo"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="passEmail()"
              >
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <small class="m-2"
              >Digite su correo para enviar un email y recuperar su
              contraseña</small
            >
          </div>
        </div>
      </form>
      <hr />
      <button
        type="button"
        style="
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        "
        class="btn navlinkinSolid p-3"
        ngbAutofocus
        (click)="customLogin()"
      >
        Acceder
      </button>
    </div>
  </div>
</div>
<hr />
