<div class="wrapper">
  <br />
  <div class="container fadeIn fast" style="margin-top: 30px">
    <div class="row">
      <div class="col fondodivCenter shadow">
        <h3 class="titleInstRed">
          <i class="fas fa-list-ol"></i> Lineamientos para el Registro
          Calificado
        </h3>
        <hr class="lineInstRed" />
        <div class="container text-center">
          <br />
          <hr />
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              (mouseover)="hover1 = true"
              (mouseout)="hover1 = false"
              [ngClass]="{ claro2: hover1 }"
              [routerLink]="['/DenominacionDelPrograma', 'nuevo']"
              class="factores"
            >
              Denominación del programa
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/JustificacionDelPrograma', 'nuevo']"
              routerLinkActive="router-link-active"
              (mouseover)="hover2 = true"
              (mouseout)="hover2 = false"
              [ngClass]="{ claro2: hover2 }"
              class="factores"
            >
              Justificación del programa
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/AspectosCurriculares']"
              routerLinkActive="router-link-active"
              (mouseover)="hover3 = true"
              (mouseout)="hover3 = false"
              [ngClass]="{ claro2: hover3 }"
              class="factores"
            >
              Aspectos curriculares
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/AcademicasProcesosFormativos']"
              routerLinkActive="router-link-active"
              (mouseover)="hover4 = true"
              (mouseout)="hover4 = false"
              [ngClass]="{ claro2: hover4 }"
              class="factores"
            >
              Organización actividades académicas y proceso formativo
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/InvestigacionInnovacion']"
              routerLinkActive="router-link-active"
              (mouseover)="hover5 = true"
              (mouseout)="hover5 = false"
              [ngClass]="{ claro2: hover5 }"
              class="factores"
            >
              Investigación, innovación y/o creación artística y cultural
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/SectorExerno']"
              routerLinkActive="router-link-active"
              (mouseover)="hover6 = true"
              (mouseout)="hover6 = false"
              [ngClass]="{ claro2: hover6 }"
              class="factores"
            >
              Relación con el sector externo
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/Profesor']"
              routerLinkActive="router-link-active"
              (mouseover)="hover7 = true"
              (mouseout)="hover7 = false"
              [ngClass]="{ claro2: hover7 }"
              class="factores"
            >
              Profesores
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/MediosEducativos']"
              routerLinkActive="router-link-active"
              (mouseover)="hover8 = true"
              (mouseout)="hover8 = false"
              [ngClass]="{ claro2: hover8 }"
              class="factores"
            >
              Medios educativos
            </h3>
          </div>
          <div
            class="row align-items-center text-center cursorSelect"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h3
              [routerLink]="['/InfraestructuraFisicaTecnologica']"
              routerLinkActive="router-link-active"
              (mouseover)="hover9 = true"
              (mouseout)="hover9 = false"
              [ngClass]="{ claro2: hover9 }"
              class="factores"
            >
              Infraestructura física y tecnológica
            </h3>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
