<div class="wrapper">
  <br />
  <div class="container fadeIn fast" style="margin-top: 30px">
    <div class="row">
      <div class="col fondodivCenter shadow">
        <h3 class="titleInstRed">
          <i class="fas fa-list-ol"></i> Lineamientos para el Registro
          Calificado
        </h3>
        <hr class="lineInstRed" />
        <div>
          <br />
          <hr />
          <section id="team" class="pb-5">
            <div class="container">
              <div class="row">
                <!-- Team member -->
                <div
                  class="col-xs-12 col-sm-6 col-md-4 cursorSelect"
                  [routerLink]="['/Denominacion_academica_del_programa']"
                >
                  <div class="image-flip">
                    <div class="mainflip flip-0">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-university fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <h4 class="card-title">
                              Denominación del Programa
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div class="card-body text-center mt-4">
                            <div class="card-text text-justify text-backside">
                              <ul class="lista-sinsangria">
                                <li>
                                  Correspondencia con nivel formación, título,
                                  contenidos curriculares y perfil del egresado.
                                  Hay específicas para cambio de denominación.
                                </li>
                                <li>
                                  Denominación disciplinar o interdisciplinar.
                                </li>
                                <li>
                                  Armonía con el marco nacional de
                                  cualificaciones.
                                </li>
                              </ul>
                              <p>
                                Evidencias e indicadores: presentar
                                denominación, título y análisis efectuado para
                                su definición.
                                <a
                                  [routerLink]="[
                                    '/Denominacion_academica_del_programa'
                                  ]"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div
                  class="col-xs-12 col-sm-6 col-md-4 cursorSelect"
                  [routerLink]="['/Justificacion_del_programa']"
                >
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-comment-dots fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <h4 class="card-title">
                              Justificación del programa
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="['/Justificacion_del_programa']"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                a) Estado de oferta programas similares. <br />
                                b) Justificación de modalidad y del lugar de
                                oferta.
                                <br />
                                c) Necesidades de la región y el país y su
                                articulación con propuesta curricular.
                                <br />
                                Evidencias e indicadores: Personas inscritas,
                                admitidas y matriculadas. Total de matriculados
                                y graduados. Tasas deserción por cohorte y
                                período académico Empleabilidad de egresados
                                <br />
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-clipboard-list fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <h4 class="card-title">Aspectos curriculares</h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4cursorSelect"
                            [routerLink]="['/Aspectos_curriculares']"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                COMPONENTES FORMATIVOS <br />
                                a) Descripción y explicación componentes
                                formativos <br />
                                b) Resultados aprendizaje: (10 ítems) <br />
                                c) Perfil de egreso <br />
                                Evidencias e indicadores: Plan de estudios en
                                créditos con trayectorias posibles, estrategias
                                flexibilización y
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div
                  class="col-xs-12 col-sm-6 col-md-4 cursorSelect"
                  [routerLink]="[
                    '/Organizacion_de_las_actividades_academicas_y_proceso_formativo'
                  ]"
                >
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-sitemap fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <h4 class="card-title">
                              Organización actividades académicas y proceso
                              formativo
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="[
                              '/Organizacion_de_las_actividades_academicas_y_proceso_formativo'
                            ]"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Proyecto educativo de programa <br />
                                Contenidos curriculares que evidencien
                                intencionalidad organizacional y expresen
                                labores formativas, académicas y docentes.
                                <br />
                                Componentes del micro/macrocurrículo según
                                políticas institucionales. <br />
                                Créditos por cada activ. acad., discrimación
                                justificación interacción estudiante/docente,
                                sincrónica, asincrónica y trabajo I.
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-search fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <br />
                            <h4 class="card-title">
                              Investigación, innovación y/o creación artística y
                              cultural
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="[
                              '/Investigacion_innovacion_y_creación_artistica_y_cultural'
                            ]"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Líneas de investigación. <br />
                                Agenda de investigación, innovación y/o creación
                                artística y cultural con proyección de personal
                                y recursos requeridos incluyendo actividades,
                                fuentes financiación y resultados esperados.
                                <br />
                                GI y su clasificación. <br />
                                Productos de investigación, innovación y/o
                                creación artística y cultural.
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-sign-out-alt fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <br />
                            <h4 class="card-title">
                              Relación con el sector externo
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="['/Relacion_con_el_sector_externo']"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Plan vinculación con el sector productivo,
                                social y cultural, público y privado con
                                actividades y recursos. <br />
                                Acuerdo de voluntades para prácticas y
                                pasantías.
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-user-tie fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <br />
                            <h4 class="card-title">Profesores</h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="['/Profesores']"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Grupo profesores, plan vinculación con tipo
                                contratación, vinculación y dedicación. <br />
                                Evidencias sobre cumplimiento políticas
                                institucionales y de que el número es suficiente
                                para atender condiciones calidad. <br />
                                Formación profesional y pedagógica, experiencia
                                profesional e investigativa, competencias
                                tecnológicas
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-book-open fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <br />
                            <h4 class="card-title">Medios educativos</h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="['/Medios_educativos']"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Dotación por Amb. Aprendizaje, recursos
                                aprendizaje e información, equipos, mobiliarios,
                                plataformas tecnológicas, etc. <br />
                                Atención diferencias culturales y virtuales.
                                <br />
                                Fortalecimiento competencias uso tecnologías
                                existentes y proyectadas. <br />
                                Plan adquisición, construcción o préstamo de
                                medios educativos.
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div
                    class="image-flip"
                    ontouchstart="this.classList.toggle('hover');"
                  >
                    <div class="mainflip">
                      <div
                        class="frontside"
                        style="border: solid 1px #8f141b; border-radius: 2%"
                      >
                        <div class="card">
                          <div class="card-body text-center">
                            <p>
                              <i
                                class="fas fa-laptop fa-5x"
                                style="
                                  background-color: white;
                                  padding: 15px;
                                  border-radius: 50%;
                                "
                              ></i>
                            </p>
                            <h4 class="card-title">
                              Infraestructura física y tecnológica
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card">
                          <div
                            class="card-body text-center mt-4 cursorSelect"
                            [routerLink]="[
                              '/Infraestructura_fisica_y_tecnologica'
                            ]"
                          >
                            <div class="card-text text-justify text-backside">
                              <p>
                                EVIDENCIAS E INDICADORES <br />
                                Descripción y justificación calidad, cantidad y
                                capacidad espacios físicos y virtuales. <br />
                                Proyección a siete años de infraestructura
                                física y tecnológica con plan adquisición ,
                                construcción o préstamos de esos espacios.
                                <br />
                                Procesos asignación de infraestructura física y
                                tecnológica. <br />
                                Plan de renovación, mantenimiento, actualización
                                y reposición de IFyT.
                                <a
                                  [routerLink]="['/']"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./Team member -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
