<div class="wrapper">
  <br />
  <div class="container fadeIn fast" style="margin-top: 30px">
    <div class="row">
      <div class="col-sm-8 fondodivleft shadow">
        <h3 class="titleInstRed">
          <i class="fas fa-user-edit"></i> Lineamientos para el Registro
          Calificado
        </h3>
        <hr class="lineInstRed" />
        <div class="container text-center">
          <br />
          <hr />
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/DenominacionDelPrograma', 'nuevo']"
              class="badge badge-primary badge-pill indice"
              >1</span
            >
            <h3
              (mouseover)="hover1 = true"
              (mouseout)="hover1 = false"
              [ngClass]="{ claro2: hover1 }"
              [routerLink]="['/DenominacionDelPrograma', 'nuevo']"
              class="factores"
            >
              Denominación del programa
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/JustificacionDelPrograma']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >2</span
            >
            <h3
              [routerLink]="['/JustificacionDelPrograma', 'nuevo']"
              routerLinkActive="router-link-active"
              (mouseover)="hover2 = true"
              (mouseout)="hover2 = false"
              [ngClass]="{ claro2: hover2 }"
              class="factores"
            >
              Justificación del programa
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/AspectosCurriculares']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >3</span
            >
            <h3
              [routerLink]="['/AspectosCurriculares']"
              routerLinkActive="router-link-active"
              (mouseover)="hover3 = true"
              (mouseout)="hover3 = false"
              [ngClass]="{ claro2: hover3 }"
              class="factores"
            >
              Aspectos curriculares
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/AcademicasProcesosFormativos']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >4</span
            >
            <h3
              [routerLink]="['/AcademicasProcesosFormativos']"
              routerLinkActive="router-link-active"
              (mouseover)="hover4 = true"
              (mouseout)="hover4 = false"
              [ngClass]="{ claro2: hover4 }"
              class="factores"
            >
              Organización actividades académicas y proceso formativo
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/InvestigacionInnovacion']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >5</span
            >
            <h3
              [routerLink]="['/InvestigacionInnovacion']"
              routerLinkActive="router-link-active"
              (mouseover)="hover5 = true"
              (mouseout)="hover5 = false"
              [ngClass]="{ claro2: hover5 }"
              class="factores"
            >
              Investigación, innovación y/o creación artística y cultural
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/SectorExerno']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >6</span
            >
            <h3
              [routerLink]="['/SectorExerno']"
              routerLinkActive="router-link-active"
              (mouseover)="hover6 = true"
              (mouseout)="hover6 = false"
              [ngClass]="{ claro2: hover6 }"
              class="factores"
            >
              Relación con el sector externo
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/Profesor']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >7</span
            >
            <h3
              [routerLink]="['/Profesor']"
              routerLinkActive="router-link-active"
              (mouseover)="hover7 = true"
              (mouseout)="hover7 = false"
              [ngClass]="{ claro2: hover7 }"
              class="factores"
            >
              Profesores
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/MediosEducativos']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >8</span
            >
            <h3
              [routerLink]="['/MediosEducativos']"
              routerLinkActive="router-link-active"
              (mouseover)="hover8 = true"
              (mouseout)="hover8 = false"
              [ngClass]="{ claro2: hover8 }"
              class="factores"
            >
              Medios educativos
            </h3>
          </div>
          <div
            class="row align-items-center text-center"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span
              [routerLink]="['/InfraestructuraFisicaTecnologica']"
              routerLinkActive="router-link-active"
              class="badge badge-primary badge-pill"
              style="margin: 5px; font-size: 30px; background-color: #8f141b"
              >9</span
            >
            <h3
              [routerLink]="['/InfraestructuraFisicaTecnologica']"
              routerLinkActive="router-link-active"
              (mouseover)="hover9 = true"
              (mouseout)="hover9 = false"
              [ngClass]="{ claro2: hover9 }"
              class="factores"
            >
              Infraestructura física y tecnológica
            </h3>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-sm-auto fondodivright shadow">
        <div>
          <h3 class="titleInstRed">
            <i class="fas fa-rss"></i> Redes sociales
          </h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDoctoradoEnCienciasDeLaSalud&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="300"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
    <br />
  </div>
  <br />
</div>
