<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">
            <i class="fas fa-book-open"></i> Condición 8
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="row">
            <div class="col">
              <hr />
              <div class="accordion text-center" id="accordionExample">
                <div class="card">
                  <div
                    class="card-header"
                    id="headingOne"
                    style="background-color: #8f141b"
                  >
                    <div class="row">
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                      <div class="col">
                        <h5 class="ocre-text">Aspectos</h5>
                      </div>
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                    </div>
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <h6 class="text-left subTituloRojoInstitucional">
                        1). Soportes que permiten verificar la suficiencia,
                        legalidad y nivel de actualización en recursos
                        bibliográficos ( libros, revistas, bases de datos
                        especializadas u otros ) en relación a la naturaleza del
                        programa y la cantidad de estudiantes actual o
                        proyectada.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        2). Demostración de suficiencia en: equipos, software,
                        conectividad, laboratorios físicos y simulados para la
                        experimentación, talleres e insumos; a partir del
                        desarrollo de competencias propuestas y la cantidad de
                        estudiantes actual o proyectada.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        3). Soporte de la Institución en el proceso de diseño,
                        gestión, producción, distribución y uso de materiales y
                        recursos educativos durante el desarrollo del programa.
                        Nivel de desarrollo de la producción de módulos (a
                        distancia) y créditos virtualizados (virtuales) y su
                        disponibilidad para estudiantes y profesores en medios
                        coherentes con la modalidad.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
