<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm shadow text-justify fondodivleft shadow grayinst">
          <h3 class="titleInstRed">Formulario Condición 1</h3>
          <hr class="lineInstRed" />
          <br />
          <form #forma="ngForm" class="text-center">
            <div class="row animated fadeIn fast">
              <div class="col-md-12">
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Nombre del Programa:
                    </h6>
                    <input
                      type="text"
                      name="nombrePrograma"
                      [(ngModel)]="condicion1.nombrePrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Nombre que se le ha denominado al programa"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Titulo a otorgar:
                    </h6>
                    <input
                      type="text"
                      name="tituloOtorgaPrograma"
                      [(ngModel)]="condicion1.tituloOtorgaPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Título"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Nivel Académico:
                    </h6>
                    <input
                      type="text"
                      name="nivelAcademicoPrograma"
                      [(ngModel)]="condicion1.nivelAcademicoPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="..."
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Nivel de formación:
                    </h6>
                    <input
                      type="text"
                      name="nivelFormacionPrograma"
                      [(ngModel)]="condicion1.nivelFormacionPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="..."
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Área del Conocimiento:
                    </h6>
                    <input
                      type="text"
                      name="areaConocimientoPrograma"
                      [(ngModel)]="condicion1.areaConocimientoPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="..."
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Localización del Programa:
                    </h6>
                    <input
                      type="text"
                      name="localizacionPrograma"
                      [(ngModel)]="condicion1.localizacionPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Ciudad y municipio"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Dirección:
                    </h6>
                    <input
                      type="text"
                      name="direccionPrograma"
                      [(ngModel)]="condicion1.direccionPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Calle o Carrera y #"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Teléfono:
                    </h6>
                    <input
                      type="text"
                      name="telefonoPrograma"
                      [(ngModel)]="condicion1.telefonoPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Ejemplo: +57 8 870 0000"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">Fax:</h6>
                    <input
                      type="text"
                      name="faxPrograma"
                      [(ngModel)]="condicion1.faxPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Número de fax"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Página Web institucional:
                    </h6>
                    <input
                      type="text"
                      name="webPrograma"
                      [(ngModel)]="condicion1.webPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="URL"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      E Mail:
                    </h6>
                    <input
                      type="text"
                      name="emailPrograma"
                      [(ngModel)]="condicion1.emailPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="@email.com"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Entidad oferente:
                    </h6>
                    <input
                      type="text"
                      name="entidadOferentePrograma"
                      [(ngModel)]="condicion1.entidadOferentePrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="..."
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Metodología:
                    </h6>
                    <input
                      type="text"
                      name="metodologiaPrograma"
                      [(ngModel)]="condicion1.metodologiaPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Nombre que se le ha denominado al programa"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Número de créditos:
                    </h6>
                    <input
                      type="number"
                      name="creditosPrograma"
                      [(ngModel)]="condicion1.creditosPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      max="200"
                      min="0"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Duración:
                    </h6>
                    <input
                      type="text"
                      name="duracionPrograma"
                      [(ngModel)]="condicion1.duracionPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Años"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Número de estudiantes:
                    </h6>
                    <input
                      type="text"
                      name="estudiantesPrograma"
                      [(ngModel)]="condicion1.estudiantesPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Alfanumérico"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Periodicidad de admisiones:
                    </h6>
                    <input
                      type="text"
                      name="admisionPrograma"
                      [(ngModel)]="condicion1.admisionPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Alfanumérico"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Costo de matrícula semestral:
                    </h6>
                    <input
                      type="text"
                      name="costoPrograma"
                      [(ngModel)]="condicion1.costoPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Salarios Mínimos Legales Vigentes"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Soporte (pdf o word):
                    </h6>
                    <form
                      [formGroup]="archivoForm1"
                      (ngSubmit)="subirArchivoUrlCostoPrograma()"
                    >
                      <div class="row">
                        <div
                          *ngIf="porcentaje1 > 1 && porcentaje1 < 101"
                          class="col"
                        >
                          <ngb-progressbar
                            [showValue]="true"
                            type="danger"
                            [value]="porcentaje1"
                          >
                          </ngb-progressbar
                          ><br />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label class="file-label">
                            <input
                              type="file"
                              class="custom-file-input"
                              formControlName="archivo1"
                              (change)="cambioArchivoUrlCostoPrograma($event)"
                              id="customFileLang"
                              lang="es"
                              required
                            />
                            <span class="file-cta">
                              <span
                                class="
                                  custom-file-label
                                  text-left
                                  inputPaciente
                                "
                                style="margin-left: 16px"
                                for="customFileLang"
                              >
                                {{ mensajeArchivo1 | slice: 0:50 }}
                              </span>
                            </span>
                          </label>
                          <br />
                        </div>
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <button
                                class="btn navlinkin"
                                type="submit"
                                placement="top"
                                ngbTooltip="Subir archivo"
                                [disabled]="!archivoForm1.valid"
                              >
                                <i class="fas fa-upload"></i> Cargar
                              </button>
                            </div>
                            <div class="col">
                              <a
                                [href]="condicion1.urlCostoPrograma"
                                target="_blank"
                                *ngIf="condicion1.urlCostoPrograma !== ''"
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Archivo: {{
                                  condicion1.urlCostoPrograma
                                }}"
                              >
                                <i class="far fa-eye"></i> Visualizar
                              </a>
                              <button
                                *ngIf="
                                  condicion1.urlCostoPrograma === null ||
                                  condicion1.urlCostoPrograma === ''
                                "
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Por favor cargue un archivo para esta entrada"
                              >
                                <i class="far fa-eye"></i> Vacío
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div
                            *ngIf="porcentaje === 100"
                            class="alert alert-success"
                            role="alert"
                          >
                            Archivo cargado exitosamente
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Norma interna de creación del Programa:
                    </h6>
                    <input
                      type="text"
                      name="normaPrograma"
                      [(ngModel)]="condicion1.normaPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Decreto o norma"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Soporte (pdf o word):
                    </h6>
                    <form
                      [formGroup]="archivoForm2"
                      (ngSubmit)="subirArchivoUrlNormaPrograma()"
                    >
                      <div class="row">
                        <div
                          *ngIf="porcentaje2 > 1 && porcentaje2 < 101"
                          class="col"
                        >
                          <ngb-progressbar
                            [showValue]="true"
                            type="danger"
                            [value]="porcentaje2"
                          >
                          </ngb-progressbar
                          ><br />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label class="file-label">
                            <input
                              type="file"
                              class="custom-file-input"
                              formControlName="archivo2"
                              (change)="cambioArchivoUrlNormaPrograma($event)"
                              id="customFileLang"
                              lang="es"
                              required
                            />
                            <span class="file-cta">
                              <span
                                class="
                                  custom-file-label
                                  text-left
                                  inputPaciente
                                "
                                style="margin-left: 16px"
                                for="customFileLang"
                              >
                                {{ mensajeArchivo2 | slice: 0:50 }}
                              </span>
                            </span>
                          </label>
                          <br />
                        </div>
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <button
                                class="btn navlinkin"
                                type="submit"
                                placement="top"
                                ngbTooltip="Subir archivo"
                                [disabled]="!archivoForm2.valid"
                              >
                                <i class="fas fa-upload"></i> Cargar
                              </button>
                            </div>
                            <div class="col">
                              <a
                                [href]="condicion1.urlNormaPrograma"
                                target="_blank"
                                *ngIf="condicion1.urlNormaPrograma !== ''"
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Archivo: {{
                                  condicion1.urlNormaPrograma
                                }}"
                              >
                                <i class="far fa-eye"></i> Visualizar
                              </a>
                              <button
                                *ngIf="
                                  condicion1.urlNormaPrograma === null ||
                                  condicion1.urlNormaPrograma === ''
                                "
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Por favor cargue un archivo para esta entrada"
                              >
                                <i class="far fa-eye"></i> Vacío
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div
                            *ngIf="porcentaje === 100"
                            class="alert alert-success"
                            role="alert"
                          >
                            Archivo cargado exitosamente
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Registro Calificado Otorgado por el Ministerio de
                      Educación Nacional:
                    </h6>
                    <input
                      type="text"
                      name="registroPrograma"
                      [(ngModel)]="condicion1.registroPrograma"
                      class="form-control shadow p-3 inputPaciente"
                      placeholder="Nombre del decreto"
                    />
                  </div>
                  <div class="col">
                    <h6 class="text-left subTituloRojoInstitucional">
                      Soporte (pdf o word):
                    </h6>
                    <form
                      [formGroup]="archivoForm3"
                      (ngSubmit)="subirArchivoUrlRegistroPrograma()"
                    >
                      <div class="row">
                        <div
                          *ngIf="porcentaje3 > 1 && porcentaje3 < 101"
                          class="col"
                        >
                          <ngb-progressbar
                            [showValue]="true"
                            type="danger"
                            [value]="porcentaje3"
                          >
                          </ngb-progressbar
                          ><br />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label class="file-label">
                            <input
                              type="file"
                              class="custom-file-input"
                              formControlName="archivo3"
                              (change)="
                                cambioArchivoUrlRegistroPrograma($event)
                              "
                              id="customFileLang"
                              lang="es"
                              required
                            />
                            <span class="file-cta">
                              <span
                                class="
                                  custom-file-label
                                  text-left
                                  inputPaciente
                                "
                                style="margin-left: 16px"
                                for="customFileLang"
                              >
                                {{ mensajeArchivo3 | slice: 0:50 }}
                              </span>
                            </span>
                          </label>
                          <br />
                        </div>
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <button
                                class="btn navlinkin"
                                type="submit"
                                placement="top"
                                ngbTooltip="Subir archivo"
                                [disabled]="!archivoForm3.valid"
                              >
                                <i class="fas fa-upload"></i> Cargar
                              </button>
                            </div>
                            <div class="col">
                              <a
                                [href]="condicion1.urlRegistroPrograma"
                                target="_blank"
                                *ngIf="condicion1.urlRegistroPrograma !== ''"
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Archivo: {{
                                  condicion1.urlRegistroPrograma
                                }}"
                              >
                                <i class="far fa-eye"></i> Visualizar
                              </a>
                              <button
                                *ngIf="
                                  condicion1.urlRegistroPrograma === null ||
                                  condicion1.urlRegistroPrograma === ''
                                "
                                class="btn navlinkin"
                                placement="top"
                                ngbTooltip="Por favor cargue un archivo para esta entrada"
                              >
                                <i class="far fa-eye"></i> Vacío
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div
                            *ngIf="porcentaje3 === 100"
                            class="alert alert-success"
                            role="alert"
                          >
                            Archivo cargado exitosamente
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <br />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <hr />
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div
                      class="card-header"
                      id="headingOne"
                      style="background-color: #8f141b"
                    >
                      <div class="row">
                        <div
                          class="col"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        ></div>
                        <div class="col">
                          <h2 class="mb-0">
                            <button
                              id="bt"
                              class="
                                btn btn-link
                                navlinkin
                                font-weight-bold
                                text-uppercase
                              "
                              type="button"
                            >
                              Aspectos
                            </button>
                          </h2>
                        </div>
                        <div
                          class="col"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        ></div>
                      </div>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        <h6 class="text-left subTituloRojoInstitucional">
                          1). Acto administrativo con el que se creó el programa
                          y el órgano interno de dirección que aprobó dicha
                          creación.
                        </h6>
                        <br />
                        <textarea
                          id="pregunta11"
                          name="aspecto1Programa"
                          [(ngModel)]="condicion1.aspecto1Programa"
                          class="form-control shadow p-3"
                          placeholder="..."
                          rows="3"
                        ></textarea>
                        <br />
                        <div class="row">
                          <div class="col">
                            <h6 class="text-left subTituloRojoInstitucional">
                              Soporte (pdf o word):
                            </h6>
                            <form
                              [formGroup]="archivoForm4"
                              (ngSubmit)="subirArchivoAspecto1()"
                            >
                              <div class="row">
                                <div
                                  *ngIf="porcentaje4 > 1 && porcentaje4 < 101"
                                  class="col"
                                >
                                  <ngb-progressbar
                                    [showValue]="true"
                                    type="danger"
                                    [value]="porcentaje4"
                                  >
                                  </ngb-progressbar
                                  ><br />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <label class="file-label">
                                    <input
                                      type="file"
                                      class="custom-file-input"
                                      formControlName="archivo4"
                                      (change)="cambioArchivoAspecto1($event)"
                                      id="customFileLang"
                                      lang="es"
                                      required
                                    />
                                    <span class="file-cta">
                                      <span
                                        class="
                                          custom-file-label
                                          text-left
                                          inputPaciente
                                        "
                                        style="margin-left: 16px"
                                        for="customFileLang"
                                      >
                                        {{ mensajeArchivo4 | slice: 0:50 }}
                                      </span>
                                    </span>
                                  </label>
                                  <br />
                                </div>
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <button
                                        class="btn navlinkin"
                                        type="submit"
                                        placement="top"
                                        ngbTooltip="Subir archivo"
                                        [disabled]="!archivoForm4.valid"
                                      >
                                        <i class="fas fa-upload"></i> Cargar
                                      </button>
                                    </div>
                                    <div class="col">
                                      <a
                                        [href]="condicion1.aspecto1File"
                                        target="_blank"
                                        *ngIf="condicion1.aspecto1File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Archivo: {{
                                          condicion1.aspecto1File
                                        }}"
                                      >
                                        <i class="far fa-eye"></i> Visualizar
                                      </a>
                                      <button
                                        *ngIf="!condicion1.aspecto1File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Por favor cargue un archivo para esta entrada"
                                      >
                                        <i class="far fa-eye"></i> Vacío
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div
                                    *ngIf="porcentaje4 === 100"
                                    class="alert alert-success"
                                    role="alert"
                                  >
                                    Archivo cargado exitosamente
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <br />
                        <hr />
                        <h6 class="text-left subTituloRojoInstitucional">
                          2). Áreas de formación del programa presentado y la
                          articulación con el alcance de la denominación.
                        </h6>
                        <br />
                        <textarea
                          [(ngModel)]="condicion1.aspecto2Programa"
                          name="aspecto2Programa"
                          class="form-control shadow p-3"
                          placeholder="..."
                          rows="3"
                        ></textarea>
                        <br />
                        <div class="row">
                          <div class="col">
                            <h6 class="text-left subTituloRojoInstitucional">
                              Soporte (pdf o word):
                            </h6>
                            <form
                              [formGroup]="archivoForm5"
                              (ngSubmit)="subirArchivoAspecto2()"
                            >
                              <div class="row">
                                <div
                                  *ngIf="porcentaje5 > 1 && porcentaje5 < 101"
                                  class="col"
                                >
                                  <ngb-progressbar
                                    [showValue]="true"
                                    type="danger"
                                    [value]="porcentaje5"
                                  >
                                  </ngb-progressbar
                                  ><br />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <label class="file-label">
                                    <input
                                      type="file"
                                      class="custom-file-input"
                                      formControlName="archivo5"
                                      (change)="cambioArchivoAspecto2($event)"
                                      id="customFileLang"
                                      lang="es"
                                      required
                                    />
                                    <span class="file-cta">
                                      <span
                                        class="
                                          custom-file-label
                                          text-left
                                          inputPaciente
                                        "
                                        style="margin-left: 16px"
                                        for="customFileLang"
                                      >
                                        {{ mensajeArchivo5 | slice: 0:50 }}
                                      </span>
                                    </span>
                                  </label>
                                  <br />
                                </div>
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <button
                                        class="btn navlinkin"
                                        type="submit"
                                        placement="top"
                                        ngbTooltip="Subir archivo"
                                        [disabled]="!archivoForm5.valid"
                                      >
                                        <i class="fas fa-upload"></i> Cargar
                                      </button>
                                    </div>
                                    <div class="col">
                                      <a
                                        [href]="condicion1.aspecto2File"
                                        target="_blank"
                                        *ngIf="condicion1.aspecto2File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Archivo: {{
                                          condicion1.aspecto2File
                                        }}"
                                      >
                                        <i class="far fa-eye"></i> Visualizar
                                      </a>
                                      <button
                                        *ngIf="!condicion1.aspecto2File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Por favor cargue un archivo para esta entrada"
                                      >
                                        <i class="far fa-eye"></i> Vacío
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div
                                    *ngIf="porcentaje5 === 100"
                                    class="alert alert-success"
                                    role="alert"
                                  >
                                    Archivo cargado exitosamente
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <br />
                        <hr />
                        <h6 class="text-left subTituloRojoInstitucional">
                          3). Soporte del alcance, la especificidad de la
                          denominación y explicación de coherencia entre la
                          denominación, el campo de conocimiento y el nivel de
                          formación.
                        </h6>
                        <br />
                        <textarea
                          name="aspecto3Programa"
                          [(ngModel)]="condicion1.aspecto3Programa"
                          class="form-control shadow p-3"
                          placeholder="..."
                          rows="3"
                        ></textarea>
                        <br />
                        <div class="row">
                          <div class="col">
                            <h6 class="text-left subTituloRojoInstitucional">
                              Soporte (pdf o word):
                            </h6>
                            <form
                              [formGroup]="archivoForm6"
                              (ngSubmit)="subirArchivoAspecto3()"
                            >
                              <div class="row">
                                <div
                                  *ngIf="porcentaje6 > 1 && porcentaje6 < 101"
                                  class="col"
                                >
                                  <ngb-progressbar
                                    [showValue]="true"
                                    type="danger"
                                    [value]="porcentaje6"
                                  >
                                  </ngb-progressbar
                                  ><br />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <label class="file-label">
                                    <input
                                      type="file"
                                      class="custom-file-input"
                                      formControlName="archivo6"
                                      (change)="cambioArchivoAspecto3($event)"
                                      id="customFileLang"
                                      lang="es"
                                      required
                                    />
                                    <span class="file-cta">
                                      <span
                                        class="
                                          custom-file-label
                                          text-left
                                          inputPaciente
                                        "
                                        style="margin-left: 16px"
                                        for="customFileLang"
                                      >
                                        {{ mensajeArchivo6 | slice: 0:60 }}
                                      </span>
                                    </span>
                                  </label>
                                  <br />
                                </div>
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <button
                                        class="btn navlinkin"
                                        type="submit"
                                        placement="top"
                                        ngbTooltip="Subir archivo"
                                        [disabled]="!archivoForm6.valid"
                                      >
                                        <i class="fas fa-upload"></i> Cargar
                                      </button>
                                    </div>
                                    <div class="col">
                                      <a
                                        [href]="condicion1.aspecto3File"
                                        target="_blank"
                                        *ngIf="condicion1.aspecto3File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Archivo: {{
                                          condicion1.aspecto3File
                                        }}"
                                      >
                                        <i class="far fa-eye"></i> Visualizar
                                      </a>
                                      <button
                                        *ngIf="!condicion1.aspecto2File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Por favor cargue un archivo para esta entrada"
                                      >
                                        <i class="far fa-eye"></i> Vacío
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div
                                    *ngIf="porcentaje6 === 100"
                                    class="alert alert-success"
                                    role="alert"
                                  >
                                    Archivo cargado exitosamente
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <br />
                        <hr />
                        <h6 class="text-left subTituloRojoInstitucional">
                          4). Argumentos que la IES presenta para justificar la
                          articulación entre la denominación del título y la del
                          programa.
                        </h6>
                        <br />
                        <textarea
                          name="aspecto4Programa"
                          [(ngModel)]="condicion1.aspecto4Programa"
                          class="form-control shadow p-3"
                          placeholder="..."
                          rows="3"
                        ></textarea>
                        <br />
                        <div class="row">
                          <div class="col">
                            <h6 class="text-left subTituloRojoInstitucional">
                              Soporte (pdf o word):
                            </h6>
                            <form
                              [formGroup]="archivoForm7"
                              (ngSubmit)="subirArchivoAspecto4()"
                            >
                              <div class="row">
                                <div
                                  *ngIf="porcentaje7 > 1 && porcentaje7 < 101"
                                  class="col"
                                >
                                  <ngb-progressbar
                                    [showValue]="true"
                                    type="danger"
                                    [value]="porcentaje7"
                                  >
                                  </ngb-progressbar
                                  ><br />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <label class="file-label">
                                    <input
                                      type="file"
                                      class="custom-file-input"
                                      formControlName="archivo7"
                                      (change)="cambioArchivoAspecto4($event)"
                                      id="customFileLang"
                                      lang="es"
                                      required
                                    />
                                    <span class="file-cta">
                                      <span
                                        class="
                                          custom-file-label
                                          text-left
                                          inputPaciente
                                        "
                                        style="margin-left: 17px"
                                        for="customFileLang"
                                      >
                                        {{ mensajeArchivo7 | slice: 0:50 }}
                                      </span>
                                    </span>
                                  </label>
                                  <br />
                                </div>
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <button
                                        class="btn navlinkin"
                                        type="submit"
                                        placement="top"
                                        ngbTooltip="Subir archivo"
                                        [disabled]="!archivoForm7.valid"
                                      >
                                        <i class="fas fa-upload"></i> Cargar
                                      </button>
                                    </div>
                                    <div class="col">
                                      <a
                                        [href]="condicion1.aspecto4File"
                                        target="_blank"
                                        *ngIf="condicion1.aspecto4File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Archivo: {{
                                          condicion1.aspecto4File
                                        }}"
                                      >
                                        <i class="far fa-eye"></i> Visualizar
                                      </a>
                                      <button
                                        *ngIf="!condicion1.aspecto4File"
                                        class="btn navlinkin"
                                        placement="top"
                                        ngbTooltip="Por favor cargue un archivo para esta entrada"
                                      >
                                        <i class="far fa-eye"></i> Vacío
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div
                                    *ngIf="porcentaje7 === 100"
                                    class="alert alert-success"
                                    role="alert"
                                  >
                                    Archivo cargado exitosamente
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </form>
          <form #forma="ngForm">
            <button
              (click)="openModal(confirmar)"
              class="btn navlinkinSolid m-2"
            >
              <i class="far fa-save"></i> Guardar
            </button>
            <a
              href="https://console.firebase.google.com/u/4/project/saces-dcs-usco/storage/saces-dcs-usco.appspot.com/files"
              target="_blank"
              ><button class="btn navlinkinSolid m-2">
                <i class="fas fa-upload"></i> Cargar imagen
              </button></a
            >
            <a [routerLink]="['/home']"
              ><button class="btn navlinkinSolid m-2">
                <i class="fas fa-sign-out-alt"></i> Regresar
              </button></a
            >
            <ng-template #confirmar let-modal>
              <div class="modal-header bgrojoycafe">
                <h4 class="modal-title">Confirmar acción</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <i class="fas fa-times" style="color: white"></i>
                </button>
              </div>
              <div class="modal-body">
                <div
                  class="alert alert-warning text-center font-weight-bold"
                  role="alert"
                >
                  Está a punto de guardar el evento. <br />
                  ¿Desea continuar con la acción?
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btnColorFacultadSalud"
                  ngbAutofocus
                  (click)="guardar()"
                >
                  Aceptar
                </button>
                <button
                  type="button"
                  class="btn navlinkinSolid"
                  (click)="modal.close('Close click')"
                >
                  Cancelar
                </button>
              </div>
            </ng-template>
            <br />
            <div
              *ngIf="error != false"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong>{{ passError }}</strong>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
