<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">
            <i class="fas fa-laptop"></i> Condición 9
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="row">
            <div class="col">
              <hr />
              <div class="accordion text-center" id="accordionExample">
                <div class="card">
                  <div
                    class="card-header"
                    id="headingOne"
                    style="background-color: #8f141b"
                  >
                    <div class="row">
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                      <div class="col">
                        <h5 class="ocre-text">Aspectos</h5>
                      </div>
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                    </div>
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <h6 class="text-left subTituloRojoInstitucional">
                        1). Disponibilidad de una planta física de adecuado
                        acceso para la comunidad en general, incluyendo a las
                        personas con discapacidades o limitaciones físicas.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        2). Elementos que verifican y permiten a la Institución
                        garantizar que la infraestructura física (Aulas,
                        Biblioteca, Auditorios, Laboratorios, Escenarios para el
                        bienestar universitario) es adecuada, y suficiente para
                        el programa según su naturaleza, y cumple con las normas
                        vigentes.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        3). Elementos que verifican la disponibilidad y
                        suficiencia en los escenarios de práctica académica,
                        profesional o de docencia servicio en coherencia con la
                        cantidad de estudiantes y profesores actual o
                        proyectada.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        4). Elementos del contenido general de las actividades
                        que permiten verificar coherencia con el plan de
                        estudios, las competencias propuestas y el área de
                        conocimiento o disciplina propios del programa.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
