<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">
            <i class="fas fa-user-tie"></i> Condición 7
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="row">
            <div class="col">
              <hr />
              <div class="accordion text-center" id="accordionExample">
                <div class="card">
                  <div
                    class="card-header"
                    id="headingOne"
                    style="background-color: #8f141b"
                  >
                    <div class="row">
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                      <div class="col">
                        <h5 class="ocre-text">Aspectos</h5>
                      </div>
                      <div
                        class="col"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      ></div>
                    </div>
                  </div>
                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <h6 class="text-left subTituloRojoInstitucional">
                        1). Sustentación por parte de la Institución la
                        disponibilidad, idoneidad y suficiencia de profesores
                        para atender las diferentes áreas curriculares del
                        Programa, en correspondencia con el número de
                        estudiantes actual y/o proyectado.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        2). Sustentación por parte de la Institución la
                        disponibilidad, idoneidad y suficiencia de profesores de
                        Tiempo completo para atender las funciones sustantivas
                        del Programa, en correspondencia con el campo
                        específico, nivel de formación del programa, el número
                        de estudiantes actual y/o proyectado.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        3). Aspectos donde se logra coherencia, sincronía y
                        suficiencia entre las metas, los plazos y los resultados
                        (alcanzados o esperados) asociados a los planes de
                        contratación docente y de desarrollo profesoral (o
                        formación docente) con las necesidades del programa.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        4). Estrategias y acciones concretas que desarrollará la
                        Institución para fomentar el avance de los docentes en
                        el escalafón o categorías previstas en el Reglamento o
                        Estatuto Docente.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        5). Manera en que la Institución garantiza la
                        capacitación de los docentes en el uso de las
                        tecnologías y herramientas de apoyo al proceso de
                        enseñanza-aprendizaje. Indique los perfiles que
                        establece la Institución para el personal docente de
                        manera que se pueda atender adecuadamente la modalidad.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                      <br />
                      <hr />
                      <h6 class="text-left subTituloRojoInstitucional">
                        6). Manera en que la institución sustenta la relación de
                        trabajo y distribución de tiempos de los docentes con
                        nivel de formación Maestría y Doctorado para los
                        proyectos de investigación en los que participan los
                        estudiantes.
                      </h6>
                      <br />
                      <p></p>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
