<!-- Footer -->
<footer
  class="page-footer font-small unique-color-dark"
  style="background-color: #ededed; padding-top: 2px"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div
        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
        style="color: #4e6470"
      >
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60%; margin-bottom: 2%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-map-marker-alt"></i> Calle 9 No. 14-03, Contiguo al
          Hospital Universitario de Neiva, Unidad de Investigación y Posgrados,
          Oficina 530 - 102
        </p>
        <p style="font-size: 11px; margin-bottom: 2%">
          <i class="fas fa-envelope"></i>
          doctoradoencienciasdelasalud@usco.edu.co
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-phone"></i> (57) (8) 871 8959
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-print"></i> (57) (8) 871 8310 Extensión 3137
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">
          INSTITUCIONAL
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 90%; margin-bottom: 2%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/"
            target="_blank"
            ><i class="fas fa-globe"></i> Portal Institucional</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://campusvirtual.usco.edu.co/campusvirtual/"
            target="_blank"
            ><i class="fab fa-internet-explorer"></i> Campus Virtual</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://biblioteca.usco.edu.co/home"
            target="_blank"
            ><i class="fas fa-book"></i> Sistema de Bibliotecas</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://laborando.usco.edu.co/"
            target="_blank"
            ><i class="fas fa-users-cog"></i> Bolsa de Empleo USCO</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/rendicion-de-cuentas/"
            target="_blank"
            ><i class="fas fa-chart-bar"></i> Rendición de Cuentas</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/atencion-al-ciudadano/preguntas-y-respuestas-frecuentes/"
            target="_blank"
            ><i class="far fa-question-circle"></i> Preguntas y Respuestas
            Frecuentes</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">
          UNIVERSIDAD
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 80%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          NIT: 891180084-2<br />
          Horario de atención al público: Lunes a viernes de 8:00 a.m. a 12:00
          m. y de 2:00 p.m. a 6:00 p.m. Línea Gratuita Nacional: 018000 968722
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Content -->
        <img
          class="centro"
          style="width: 80%"
          src="assets/footer-universidad-surcolombiana.png"
          alt=""
        />
        <p
          class="text-center"
          style="color: #4e6470; font-size: 12px; margin-top: 10px"
        >
          Institución de Educación Superior sujeta a inspección y vigilancia del
          Ministerio de Educación Nacional.
        </p>
        <img
          class="centro"
          style="width: 70%"
          src="assets/footer-icontec.png"
          alt=""
        />
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <ng-template #showLogin>
    <div
      class="footer-copyright text-center"
      id="accordionExample"
      style="
        background-color: #4d626c;
        color: #ededed;
        border: 0px;
        margin: 0px;
        padding: 0px;
      "
    >
      <div
        class="card text-center"
        style="
          background-color: #4d626c;
          color: #ededed;
          border: 0px;
          margin: 0px;
          padding: 0px;
        "
      >
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-center"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <span style="color: aliceblue"
                >© {{ today | date: "yyyy" }} Doctorado en Ciencias de la Salud. Universidad
                Surcolombiana |
              </span>
              <a
                style="color: aliceblue"
                class="cursorSelect"
                (click)="openSm(formAdmin)"
              >
                <i class="fas fa-lock"></i> Ingresar</a
              >
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <article class="text-center">
              <small class="text-uppercase font-weight-bold"
                >Propiedad intelectual:</small
              ><br />
              <small style="font-size: 13px" class="font-weight-bold"
                >Todos los contenidos de este sitio (incluyendo, pero no
                limitado a, texto, logotipos, contenido, fotografías, audio,
                botones, nombres comerciales y vídeo) están sujetos a derechos
                de propiedad por las leyes de Derechos de Autor y demás Leyes
                relativas Internacionales a:</small
              ><br />
              <small class="text-uppercase font-weight-bold"
                >&copy;Copyright {{ today | date: "yyyy" }} - Doctora DOLLY ARIAS TORRES</small
              ><br />
              <small class="text-uppercase font-weight-bold"
                >&copy;Copyright {{ today | date: "yyyy" }} - Doctor Nicolás Arturo Núñez Gómez</small
              ><br />
              <small class="text-uppercase font-weight-bold"
                >&copy;Copyright {{ today | date: "yyyy" }} - Tecnólogo John David Guerrero
                Córodoba</small
              ><br />
              <small style="font-size: 13px" class="font-weight-bold"
                >y de terceros titulares de los mismos que han autorizado
                debidamente su inclusión.</small
              ><br />
            </article>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!--<div
    class="container-fluid text-center"
    style="background-color: #e6e6e6; height: 60px"
  >
    <div class="row">
      <div class="col">
        <a href="https://www.usco.edu.co/es/" target="_blank">
          <img
            class="rounded mx-auto d-block"
            src="assets/header-facultad-salud-universidad-surcolombiana.png"
            alt="Página oficial de la Universidad Surcolombiana"
            title="Página oficial de la Universidad Surcolombiana"
            style="width: 40%;"
          />
        </a>
            </div>
            <div class="col">
                <a href="https://www.mineducacion.gov.co/sistemasinfo/snies/" target="_blank">
                    <img class="rounded mx-auto d-block" src="assets/snies.png" alt="Sistema Nacional de Informacion de la Educacion Superior (SNIES)" title="Sistema Nacional de Informacion de la Educacion Superior (SNIES)" style="width: 50%;" />
                </a>
            </div>
            <div class="col">
                <a href="https://www.mineducacion.gov.co/portal/Educacion-superior/" target="_blank">
                    <img class="rounded mx-auto d-block" src="assets/minedu.png" alt="Ministerio de educación - Educación superior" title="Ministerio de educación - Educación superior" style="width: 50%;" />
                </a>
            </div>
        </div>
    </div>-->
  <div
    *ngIf="auth.user | async; else showLogin"
    class="footer-copyright text-center py-3"
    style="background-color: #4d626c; color: #ededed"
  >
    © 2021 Doctorado en Ciencias de la Salud. Universidad Surcolombiana |
    <i class="fas fa-door-open"></i
    ><a style="color: aliceblue" class="cursorSelect" (click)="logout()">
      Salir</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<ng-template #formAdmin let-modal>
  <div class="modal-header bgrojoyblanco">
    <h4 class="modal-title">
      <i class="fas fa-user-cog white"></i> Administrar:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times" style="color: white"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="text-center p-2" #forma="ngForm">
        <!-- Email -->
        <div class="d-flex justify-content-around">
          <input
            type="email"
            id="defaultLoginFormEmail"
            [(ngModel)]="email"
            name="email"
            class="form-control mb-4 shadow"
            placeholder="Correo"
          />
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-around" *ngIf="viewPass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="password"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ver contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="view()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Password view-->
        <div class="d-flex justify-content-around" *ngIf="hidePass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="text"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ocultar contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="hide()"
              >
                <i class="far fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="justify-content-around">
          <div class="m-2">
            <!-- Forgot password -->
            <a (click)="recuperar()" class="cursorSelect text-blue"
              >¿Recuperar?</a
            >
          </div>
          <div class="input-group mb-3" *ngIf="viewRecuperar != true">
            <input
              class="form-control shadow"
              placeholder="Correo"
              type="email"
              id="defaultLoginFormEmail"
              [(ngModel)]="email"
              name="email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="passEmail()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Enviar al correo"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="passEmail()"
              >
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <small class="m-2"
              >Digite su correo para enviar un email y recuperar su
              contraseña</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <button
    type="button"
    style="
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    "
    class="btn navlinkinSolid p-3"
    ngbAutofocus
    (click)="customLogin()"
  >
    Acceder
  </button>
</ng-template>
